:root {
    --primary-color: #fce138;
    --secondary-color: #141d2c;
    --tertiary-color: #703645;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

/* Header Section*/
header {
    color: black;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    margin: 10px 0 10px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(255, 254, 254, 0.5);
}

header a {
    color: var(--tertiary-color);
    text-decoration: none;
}

header nav {
    margin: 10px 0;
    padding: 0 55px;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 1.50vw;
    text-align: center;
    text-shadow: 0 0 10px rgba(153, 153, 153, 0.5);
}

header nav ul li a:hover {
    background:#e6e6ff;
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}



/* Hero Section */
.hero {
    background-image: url("../images/banner.png");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.harry {
    width: 215px;
    height: auto;
    position: relative;
  }

  .cool-subtitle-here {
    text-align: right;
    color: white;
    background-color:#703645 ;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 30px;
    position: relative;
  }

  /* About Me Styles */
  .about-me {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      width: 100%;
      margin: 20px 0;
  }

  .about-me p {
    width: 70%;
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/* Work Section */
.work  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.work h2 {
    justify-content: center;
}
.section-title {
    font-size: 38px;
    width: 20%;
    display: flex;
    flex: initial;
    justify-content: center;
    padding-right: 15px;
    border-right: solid 5px #141d2c;
    text-align: right;
    margin: 20px 0;
    color: #141d2c;
}

.content {
    width: 70%;
    margin: 30px 0;
}

 /* Grid Styles */
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-left: 20px;
    width: 100%;
    grid-auto-flow: dense;
}

.one {
    margin-bottom: 30px;
    margin-left: 20px;
    width: 100%;
}

.link {
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.5;
    border: solid 4px #703645;

}

.link:hover {
    opacity: 1;
 }

.one a {
    height: 410px;
    background-image: url(../images/runbuddy.jpg);
    grid-column:  span 2;
    grid-row: span 2;
 }

 .main a {
    height: 200px;
 }

.two a {  
    background-image: url(../images/horiseon.jpg);
}

.three a {
    background-image: url(../images/pocketwatch.jpg);
}

.four a {
    background-image: url(../images/hourglass.jpg);
}

.five a {
    background-image: url(../images/egg.jpg);
}


.content h3, .content p {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    width: 100%;
}

/* Contact Me Section */
.contact-me {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.contact-info a {
    text-decoration: underline;
    color: var(--secondary-color);
    font-size: 25px;
    display: inline-block;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.contact-info a:hover {
    color: var(--primary-color);
}

